{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.name }}</h1>
    <div class="btn-group">
        <a href="{{ path('workflow_show', { 'id': entity.id }) }}" class="btn btn-default"><span
                    class="glyphicon glyphicon-list"></span> {{ 'Back to Workflow'|trans }}</a>
    </div>
    <hr>
    {{ workflow_configuration(entity) }}
{% endblock %}