<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{ 'Success!'|trans }}</strong> {{ 'Task updated'|trans }}
</div>

{{ include('AbcWorkflowBundle:Task:taskItem.html.twig', {task: task}) }}